<% // Render individual movie details here %>
<% // This is how to do comments in EJS, by the way... %>
<h1><%= data.Title  %> </h1>
    <img src="<%=data.Poster%> " alt="<%=data.title %> Poster ">
   <% if (data.Plot) { %> 
    <p>Plot: <%= data.Plot %> </p>
   <% } else { %>
    <p>There's no plot listed </p> 
   <% } %> 
    <p>Director: <%= data.Director %> </p>
    <p>Writer: <%= data.Writer %> </p>
    <p>Actors: <%= data.Actors %> </p>
    <p>Awards: <%= data.Awards %> </p>

    <form method="POST" action="/faves">
        <input type="hidden" name="title" value="<%= data.Title%>" >
        <input type="hidden" name="imdbid" value="<% data.imdbID %> ">
        <input type="submit" value="Add Favorite" >
    </form>